<nb-layout>

    <nb-layout-header fixed>
        <nb-actions>
            <nb-action class="mt-2" nbTooltip="Home" nbTooltipIcon="home-outline" [routerLink]="['/home']"
                routerLinkActive="router-link-active">
                <p class="h4">MerchMaker</p>
            </nb-action>
            <nb-action *ngIf="!userservice.loggedin" nbTooltip="Login" nbTooltipIcon="log-in-outline"
                [routerLink]="['/app/login']" routerLinkActive="router-link-active">Login</nb-action>
            <nb-action nbTooltip="Browse Merchandise" nbTooltipIcon="home-outline" [routerLink]="['/app/listmerch']"
                routerLinkActive="router-link-active">Browse Merchandise</nb-action>
            <nb-action nbTooltip="Customize Merchandise" nbTooltipIcon="home-outline"
                [routerLink]="['/app/customize', 'dualshock']" routerLinkActive="router-link-active">Customise
            </nb-action>
            <nb-action *ngIf="userservice.loggedin" nbTooltip="Logout" nbTooltipIcon="log-out-outline"
                (click)="userservice.logout()" right>Logout</nb-action>
        </nb-actions>
        <nb-user *ngIf="userservice.loggedin" class="ml-auto" size="large" [name]="userservice.currentUser.name
          " picture="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
            [routerLink]="['/user']" routerLinkActive="router-link-active" right>
        </nb-user>
    </nb-layout-header>


    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>