.l-side-item , .r-side-item{
    border: 2px solid black;
}

.palete-choice{
    height: 5rem;
}

.l-side , .r-side{
    height: 600px;
    overflow: scroll;
}

.sticker-choice{
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    width: 10rem;
    /* box-shadow: 1px 2px 2px 1px black; */
    padding: 0.3rem;
}